// Add any custom Sass & CSS here
video {
    width: 100%;
    border: 3px solid $turq_med;
    border-top: 4px solid $turq_med;

    -webkit-animation: fade-in 1s; 
       -moz-animation: fade-in 1s; 
        -ms-animation: fade-in 1s; 
         -o-animation: fade-in 1s; 
            animation: fade-in 1s;
}

section h1, h2, h3, h4, h5, h6, p {
    font-family: $primary-font;
}

img {
    text-align: center;
    height: 200px;
    width: 100%;
}

a {
    color: white;
}

a:visited, a:active, a:hover, a:focus {
  color: white !important;
}

hr {
    @include border-color($turq_light);
    border-top: 2px solid $turq_light;
}

section {
    width: 100%;
}

.active {
    background-color: $green_medium;
}

#main-section-home {
    text-shadow: 4px 4px 4px #aaa;

    h2 {
    -webkit-animation: fade-in 3s; 
       -moz-animation: fade-in 3s; 
        -ms-animation: fade-in 3s; 
         -o-animation: fade-in 3s; 
            animation: fade-in 3s;
    }
}

#main-section-how-works {
    h2 {
        @include fontSize(3.0em);
    }

    p {
        @include fontSize(1.1em);
    }

}

#main-section-modals {

    .columns:hover {
        background-color: $turq_med;
        color: $red;
        cursor: pointer;

        hr {
            @include border-color($red);
            border-top: 2px solid $red;
        }
    }

    .columns  {
        height: 100%;
    }

}

.main-style {
    font-family: $primary-font;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.responsive-bar-icons {
    color: white;
}

#background-beg {
    background: url(../data/pics/background-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
    height: 150px;
}

#background-end {
    background: url(../data/pics/background-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    position: relative;
    position: relative;
    z-index: -1;
    height: 150px;
}

.carousel {
    height: 90%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;

    .review-img {
        img {
            @include wh(166px, 138px);
            border-radius: 50%;
            border: 3px solid $turq_med;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }

    .dish-img {
        img {
            @include wh(350px, 300px);
            margin:auto;
            border-radius: 50%;
            border: 3px solid $turq_med;
            margin-top: 2%;
            margin-bottom: 5%;
        }
    }
}

.slick-prev:before, .slick-next:before { 
    color: #222 !important;
}

.slick-dots {
    margin-left: 0;
}

.fancy {
    font-family: $pretty-font;
    text-shadow: 4px 4px 4px #aaa;
}

.top-bar {
    background-color: $turq_med;
    font-family: $primary-font;
    width: 100%;
    @include fontSize(1.35em);

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    .menu-text {
        color: black;
    }
}

.sticky-container {
    background-color: $turq_med !important;
}

.reveal {
    border: 3px solid $turq_med;
}

.footer {
    @include wh(100%, 100px);
    background-color: $turq_med;
    text-align: center;

    ul {
        @include vertical-align();
        margin: auto;
        list-style-type: circle;
        font-family: $primary-font;

        li {
            @include fontSize(1.25em);
            display: inline-block;
            padding: 0 30px 0 10px;
            right: 0;
            text-align: center;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}


#opener {
    @include vertical-align();
    @include wh(350px, 400px);
    position: absolute;
    background-color: white;
    border: 2px solid $green_darkest;
    right: 10px;
    -webkit-box-shadow: 0 10px 8px -6px black;
       -moz-box-shadow: 0 10px 8px -6px black;
            box-shadow: 0 10px 8px -6px black;

    div {
        text-align: center;
        margin: auto;
        width: 85%;

        ul {
            @include set-margin-sides();
            li {
                list-style: none;
                text-align: center;
            }
        }
    }
}