// Insert your variables
$green_lightest : #CFF09E;
$green_lighter  : #A8DBA8;
$green_light    : #D3E2B6;
$green_medium   : #AACCB1;
$green_darkest  : #3B8686;
$turq_light     : #87BDB1;
$turq_med       : #68B3AF;
$red            : #EB6841;
$oj             : #FF9036;

$primary-font  : 'Fira Sans', Sans-serif;

$pretty-font: 'Dancing Script', cursive;
